div.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  padding: 0px;
}
@media only screen and (max-width: 1200px) {
    body {
        font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 300;
      margin: 0px auto;
      padding: 0px;
    }
.menulinks {
  background-color: #aaa;
  overflow: hidden;
  position: relative;
}
.menulinks h4, img{
  display: none;
}
select#navesti{
  margin: 10px 0px 10px 0px;
  width: 100%;
  height:30px;
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
background-repeat: no-repeat;
background-position-x: 100%;
background-position-y: 2px;
}
.teoriecontent{
    margin: 0px auto;
    width: 98%;
}

.navest{
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
ul{
margin: 0px auto;
padding: 0;
list-style:none;
}
#navestilist li{
border-bottom: 1px solid;
}
.imagecol{
float:left;
padding: 10px;
text-align:center;
width:100%;
}
.desccol{
margin: 0;
float:left;
width: 100%;
padding: 0px;
}
.desccol h4{
margin: 0;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  height: 12px;
  font-weight: bold;
}
.desccol p{
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  font-style: italic;
}
select#rych1, select#rych2{
  margin: 10px 5px 10px 5px;
  width: 125px;
  height:30px;
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
background-repeat: no-repeat;
background-position-x: 100%;
background-position-y: 2px;
}
select#rych1:hover,select#rych2:hover{
  cursor: pointer;
  background-color: #f2f2f2;
}


.menulinks p{
 margin: 0px;
}
.logo{
display:none;}
.menulinks a {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  height: 25px;
  background-color: #212121;
}
.menulinks p {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  height: 25px;
  background-color: #000000;
}
.menulinks a:hover {
  background-color: #ddd;
  color: black;
}
.menulinks a.icon{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1a1a1a;
}
.menulinks a.icon:hover{
  background-color: #4f4f4f;
}
.menulinks img{
padding: 0px;
margin: -6px;}
.menulinks #menu {
  display: none;
}

/* Add an active class to highlight the current page */
.menulinks a#aktivni {
  background-color: #6e6e6e;
  color: white;
}
.footer {
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  background-color: #000000;
  }
  .footercontent{
  padding: 10px;
  }
  .footer a,p{ 
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  color:white;
  }
}
@media only screen and (min-width: 1200px){
  .menubox{
      float: left;
        width: 250px;
        padding: 10px;
        height: auto;
        background-color: #f5f5f5;
        
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
        
  }
  h5{
    text-align: center;
    margin: 0px;
    font-size: 18px;
  }
  .pagebody{
    margin: 0px auto;
    padding: 0px;
    width: 1200px;
    overflow: hidden;
    position: relative;
    min-height:500px;
  }
.toppanel {
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    height: 80px;
}
.topline{
  margin:0px auto;
  width: 1200px;
  height: 15px;
  background-color: #000;
}
.content h3#nadpis{
  text-align: center;
}
#menu{
display:block;}
p#menu_headline{
display:none;}
*{box-sizing: border-box;}
.columns{
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
.maincontent{
  content: "";
  display: table;
  clear: both;
  margin: 0px auto;
  width: 100%;
}
.navest{
  content: "";
  display: table;
  clear: both;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
#navestilist li{
border-bottom: 1px solid black;
}
li{
text-decoration:none;}
.imagecol{
float:left;
padding: 10px;
text-align:center;
width:300px;
}
.desccol{
margin: 0;
float:left;
width: 650px;
padding: 0px;
}
.desccol h4{
margin: 0;
  color: black;
  padding: 10px 0px 15px 0px;
  text-decoration: none;
  font-size: 12px;
  height: 12px;
  font-weight: bold;
}
.desccol p{
  color: black;
  padding: 2px 5px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  font-style: italic;
}
.column{
float: left;
  width: 50%;
  padding: 10px;
}
.teoriecontent{
margin: 0px auto;
width: 100%;
overflow: hidden;
}
.menupanel {
    overflow: hidden;
}
.right{
    float: right;
}
.desktopmenu #links{
    display: block;
}
.menupanel a,h4{
  width: 100%;
    text-align: center;
    padding: 10px 5px 10px 0px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    float: left;
    font-size: 15px;
    color: black;

    display: flex;
   align-items:center;
    
}
.menupanel img{
  text-align: center;
  width: 18px;
  height: 18px;
  margin: 0px 5px 0px 5px;
  
}
.menupanel a:hover{
    background-color: #bdbebf;
    transition-duration: 0.6s;
}
.menupanel a#aktivni{
    background-color: #e0e0e0;
}
a#dropdownicon{
display:none;
}
.headerc{
  overflow:hidden;
margin: 0px 0px;

}
.stredwebu{
    margin: 0px auto;
    padding: 0px;
    width: 1200px;
    height: 500px;
    background-color: yellow;
}
.obsah {
    text-align: left;
    height: 400px;
    width: 75%;
    float: left;
    background-color: burlywood;
}
.rightpane{
    float: right;
    width: 25%;
    height: 400px;
    background-color: aqua;
}
.right img {
    padding: 24px 20px;
    line-height: 40px;
}
.right img:hover{
    background-color: white;
    box-shadow: inset 0 -2px 0 0 #000000;
}
.searchbox {
    padding:0px 0px 0px 5px;
    margin-top: 17px;
    text-decoration: none;
    float: left;
    font-size: 30px;
    width: 250px;
    height: 40px;
    color: black;
    background-color: #d9d9d9;
    border: none;
  border-bottom: 2px solid black;
}
a.right {
    text-align: center;
    padding: 10px 10px;
    margin: 15px 0px 0px 0px;
    text-decoration: none;
    margin-right: 0px;
    font-size: 20px;
    color: black;
}
a.right:hover{
    box-shadow: inset 0 -4px 0 0 #aaa;
    transition-duration: 0.5s; 
}
.searchbox:focus{
    outline: none;
}
.menulinks button{
    height: 42px;
    margin: 17px 0px 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition-duration: 0.5s;
}
.menulinks button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
html, body {
    margin:0px auto;
    padding: 0px;
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 300;
}
.header{
  overflow:hidden;
margin: 0px auto;
width: 1200px;
  content: "";
  display: table;
  clear: both;}
.logo{
float:left;
width: 200px;
height: 80px;
}
a#dropdown{
display:none;
}
.content{
    padding: 0px;
    float:right;
    width: 950px;
}
.menuline{
    background-color: bisque;
    width: 100%;
    height: 40px;
    padding: 0px;
}
ul{
padding: 0px;
  margin: 0px auto;
  font-size: 0;
}
a.menulink{
    text-decoration: none;
    width:auto;
    display: inline-block;
    font-size: 19px;
    padding: 6px 10px 6px 10px;
    margin: 0px;
    color: #000000
}
.menuline li{
    text-decoration: none;
    display: inline;
}
select#navesti{
  margin: 10px 10px 10px 10px;
  width: 930px;
  height:30px;
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
background-repeat: no-repeat;
background-position-x: 100%;
background-position-y: 2px;
}
select#rych1, select#rych2{
  margin: 10px 10px 10px 10px;
  width: 250px;
  height:30px;
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
background-repeat: no-repeat;
background-position-x: 100%;
background-position-y: 2px;
}
select#rych1:hover,select#rych2:hover{
  cursor: pointer;
  background-color: #f2f2f2;
}
.footer {
  margin: 0px auto;
  padding: 0px;
  width: 1200px;
  overflow: hidden;
  position: relative;
  background-color: #000000;
  }
  .footercontent{
  padding: 10px;
  }
  .footer a,p{ 
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  color:white;
  }
}
.teoriecontent p{
    font-size: 12px;
}
.indikator1 h1{
  text-align: center;
  color: yellow;
  margin: 0px;
}
table#info {
  margin: 5px 0px 5px 0px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td#nadpis{
    font-weight: bold;
}
table#info td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table#info tr:nth-child(even) {
  background-color: #e6e8e6;
  font-style: italic;
}
select#navesti:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
.signalcontainer{
width: 100%;
content: "";
display: table;
clear: both;
}
.signal{
  margin: 5px auto;
width: 70px;
height: 350px;
background-color: #000000;
}
.indikator1{
width: 70px;
height: 50px;
background-color: #000000;
margin: 0px auto;
}
.indikator2{
  overflow: hidden;
  position: relative;
width: 70px;
height: 50px;
margin: 0px auto;
padding: 0px;
background-color: #000000;
}
.indikator2 h1#dolniidc {
  margin: 2px 0px 0px 0px;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}
.indikator2 h1#dolniidc3 {
  margin: 2px 0px 0px 26px;
  color: yellow;
  width: 62px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;}
ul#signal
{
padding: 15px 0px 0px 0px;
list-style: none;
}
li.x1
{
margin: 0px 15px 15px 15px;
width: 40px;
height: 40px;
border-radius: 50px;
visibility:hidden;
background-image: radial-gradient(#f1f50a, #888a2f);
}
li.x2
{
margin: 15px 15px 15px 15px;
width: 40px;
height: 40px;
visibility:hidden;
border-radius: 50px;
background-image: radial-gradient(#16cc47, #1f542d);
}
li.x3
{
margin: 0px 15px 15px 15px;
width: 40px;
height: 40px;
border-radius: 50px;
visibility:hidden;
background-image: radial-gradient(#ff0000, #9c2222);
}
li.x4
{
margin: 0px 15px 15px 15px;
width: 40px;
height: 40px;
border-radius: 50px;
visibility:hidden;
background-image: radial-gradient(#fcfcfc, #a3a3a2);
}
li.x5{
margin: 0px 15px 15px 15px;
width: 40px;
height: 40px;
border-radius: 50px;
visibility:hidden;
background-image: radial-gradient(#f1f50a, #888a2f);
}
li.x6{
  margin: 0px 15px 15px 15px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  visibility:hidden;
  background-image: radial-gradient(#3939e6, #0909ed);
  }
optgroup{
font-style: normal;
}
div.sigline {
  width: 40px;
  height: 5px;
  margin: 13px 15px;
  padding: 0px;
  visibility: hidden;
}
.xleft{
  float:left;
  margin: 0px;
  width: 50%;
}
.xright{
  float:right;
  margin: 0px;
  width: 50%;
  visibility: hidden;
}
.xsignal{
  width: 100%;
  margin: 0px auto;
}
.speedlines{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.vertlinel{
  float: left;
  margin: 10px 0px 0px 15px;
  width: 4px;
  background-color: yellow;
  height: 30px;
}
.vertliner{
  float: right;
  margin: 10px 15px 0px 10px;
  width: 4px;
  background-color: yellow;
  height: 30px;
}