div.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  padding: 0px;
}
@media only screen and (max-width: 1200px) {
    body {
        font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 300;
      margin: 0px auto;
      padding: 0px;
    }
.menulinks {
  background-color: #aaa;
  overflow: hidden;
  position: relative;
}
.teoriecontent{
    margin: 0px auto;
    width: 98%;
}
.menulinks p{
 margin: 0px;
}
.logo{
display:none;}
.menulinks a {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  height: 25px;
  background-color: #212121;
}
.menulinks p {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  height: 25px;
  background-color: #000000;
}
.menulinks a:hover {
  background-color: #ddd;
  color: black;
}
.menulinks a.icon{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1a1a1a;
}
.menulinks a.icon:hover{
  background-color: #4f4f4f;
}
.menulinks img{
padding: 0px;
margin: -6px;}
.menulinks #menu {
  display: none;
}

/* Add an active class to highlight the current page */
.menulinks a#aktivni {
  background-color: #6e6e6e;
  color: white;
}
}
@media only screen and (min-width: 1200px){
.toppanel {
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    height: 80px;
}
#menu{
display:block;}
p#menu_headline{
display:none;}
*{box-sizing: border-box;}
.columns{
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
.column{
float: left;
  width: 50%;
  padding: 10px;
}
.teoriecontent{
margin: 0px auto;
width: 100%;
}
.menupanel {
    height: 80px;
    overflow: hidden;
}
.menubox{
    width: 100%;
    display:flex; 
    margin: 12px 20px 0px 15px;
}
.menubox > * {
    width: 100%;
}
.right{
    float: right;
}
.desktopmenu #links{
    display: block;
}
.menupanel a{
    text-align: center;
    padding: 10px 10px;
    margin: 0px 5px 0px 0px;
    text-decoration: none;
    float: left;
    font-size: 20px;
    color: black;
    
}
.menupanel a:hover{
    box-shadow: inset 0 -4px 0 0 #aaa;
    transition-duration: 0.5s; 
}
.menupanel a#aktivni{
    box-shadow: inset 0 -4px 0 0 #000;
}
a#dropdownicon{
display:none;
}
.headerc{
margin: 15px 0px;

}
.stredwebu{
    margin: 0px auto;
    padding: 0px;
    width: 1200px;
    height: 500px;
    background-color: yellow;
}
.obsah {
    text-align: left;
    height: 400px;
    width: 75%;
    float: left;
    background-color: burlywood;
}
.rightpane{
    float: right;
    width: 25%;
    height: 400px;
    background-color: aqua;
}
.right img {
    padding: 24px 20px;
    line-height: 40px;
}
.right img:hover{
    background-color: white;
    box-shadow: inset 0 -2px 0 0 #000000;
}
.searchbox {
    padding:0px 0px 0px 5px;
    margin-top: 17px;
    text-decoration: none;
    float: left;
    font-size: 30px;
    width: 250px;
    height: 40px;
    color: black;
    background-color: #d9d9d9;
    border: none;
  border-bottom: 2px solid black;
}
a.right {
    text-align: center;
    padding: 10px 10px;
    margin: 15px 0px 0px 0px;
    text-decoration: none;
    margin-right: 0px;
    font-size: 20px;
    color: black;
}
a.right:hover{
    box-shadow: inset 0 -4px 0 0 #aaa;
    transition-duration: 0.5s; 
}
.searchbox:focus{
    outline: none;
}
.menulinks button{
    height: 42px;
    margin: 17px 0px 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition-duration: 0.5s;
}
.menulinks button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
}
@media only screen and (min-width: 1200px){
html, body {
    margin:0px auto;
    padding: 0px;
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 300;
}
.header{
margin: 0px auto;
width: 1200px;
  content: "";
  display: table;
  clear: both;}
.logo{
float:left;
width: 200px;
height: 80px;
}
a#dropdown{
display:none;
}
.content{
    padding: 0px;
    margin:0px auto;
    width: 1200px;
}
.menuline{
    background-color: bisque;
    width: 100%;
    height: 40px;
    padding: 0px;
}
ul{
padding: 0px;
  margin: 0px auto;
  font-size: 0;
}
a.menulink{
    text-decoration: none;
    width:auto;
    display: inline-block;
    font-size: 19px;
    padding: 6px 10px 6px 10px;
    margin: 0px;
    color: #000000
}
.menuline li{
    text-decoration: none;
    display: inline;
}
}
.teoriecontent p{
    font-size: 12px;
}
table#info {
  margin: 5px 0px 5px 0px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td#nadpis{
    font-weight: bold;
}
table#info td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table#info tr:nth-child(even) {
  background-color: #e6e8e6;
  font-style: italic;
}
select#navesti{
    margin: 5px 5px 5px 0px;
    width: 100%;
    height:30px;
    border-radius: 0;
    background-color: #ffffff;
    border: 1px solid;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 2px;
}
select#navesti:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
button#selnavest{
    margin: 5px 10px 5px 5px;
    padding: 0px 10px 0px 10px;
    height: 30px;
    border: 0;
    float: right;
    color: #000000;
}
button#selnavest:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}
.signalcontainer{
margin: 0px auto;
width: 70px;
}
.signal{
margin: 5px 0px 5px 0px;
width: 70px;
height: 290px;
background-color: #000000;
}
.indikator1{
width: 70px;
height: 50px;
background-color: #000000;
}
.indikator2{
width: 70px;
height: 50px;
background-color: #000000;
}
ul#signal
{
padding: 15px 0px 0px 0px;
list-style: none;
}
li#zluta1
{
margin: 0px 15px 15px 15px;
width: 40px;
height: 40px;
border-radius: 50px;
visibility:hidden;
background-image: radial-gradient(#f1f50a, #888a2f);
}
li#zelena
{
margin: 15px 15px 15px 15px;
width: 40px;
height: 40px;
visibility:hidden;
border-radius: 50px;
background-image: radial-gradient(#16cc47, #1f542d);
}
li#cervena
{
margin: 0px 15px 15px 15px;
width: 40px;
height: 40px;
border-radius: 50px;
visibility:hidden;
background-image: radial-gradient(#ff0000, #9c2222);
}
li#bila
{
margin: 0px 15px 15px 15px;
width: 40px;
height: 40px;
border-radius: 50px;
visibility:hidden;
background-image: radial-gradient(#fcfcfc, #a3a3a2);
}
li#zluta2{
margin: 0px 15px 15px 15px;
width: 40px;
height: 40px;
border-radius: 50px;
visibility:hidden;
background-image: radial-gradient(#f1f50a, #888a2f);
}
optgroup{
font-style: normal;
}
.footer {
margin: 0px auto;
padding: 0px;
width: 100%;
background: #d9d9d9;
}
.footercontent{
padding: 10px;
}
.footer p{ 
overflow: hidden;
margin: 0px;
padding: 0px;}
